*.py[cod]

# C extensions
*.so
*.so.dSYM

# Build outputs
extern/confdefs.h
*.o
*.lo
*.la
.deps
.libs
config.log
config.status
libtool
extern/**/Makefile
extern/built
extern/fftw-3.3.8/api/fftw3.f03
extern/fftw-3.3.8/config.h
extern/fftw-3.3.8/fftw.pc
extern/fftw-3.3.8/fftw3.pc
extern/fftw-3.3.8/libbench2/libbench2.a
extern/fftw-3.3.8/mpi/fftw3-mpi.f03
extern/fftw-3.3.8/mpi/fftw3l-mpi.f03
extern/fftw-3.3.8/stamp-h1
extern/fftw-3.3.8/tests/bench
extern/fftw-3.3.8/tools/fftw-wisdom
extern/fftw-3.3.8/tools/fftw-wisdom-to-conf
extern/fftw-3.3.8/tools/fftw_wisdom.1
extern/fftw-3.3.8/FFTW3Config.cmake
extern/fftw-3.3.8/FFTW3ConfigVersion.cmake
extern/fftw-3.3.8/tools/fftw-wisdom.1

sherpa/optmethods/src/_minimmodule.c
sherpa/optmethods/src/minpack/_minpack-f2pywrappers.f
sherpa/optmethods/src/minpack/_minpackmodule.c

# VI
*.swp

# Packages
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.pytest_cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.tox
nosetests.xml
.cache
coverage.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.spyderproject
/.settings
.idea

# Sonar
sonar-project.properties

# Autotools
**/autom4te.cache
**/aclocal.m4

# Python MANIFEST
MANIFEST

# VIM temporary files
*~

# Ipython notebooks
.ipynb_checkpoints

# Region library
# These files should have not made it into the region
# source distribution since they are generated at each build.
# Alternatively, one might change the region library makefiles
# to keep the files generated during the source distribution
# creation. However, that is more complicated, so we are just
# going to gitignore these files.
extern/region-4.11/src/reglexer.c
extern/region-4.11/src/regparser.c
extern/region-4.11/src/regparser.h
extern/region-4.11/src/regparser.tab.h
extern/region-4.11/src/regparser.tab.c
extern/region-4.11/src/reglexer.c.tmp

# Sphinx documentation
docs/_build
docs/**/api

#generated from python setup.py test
.pytest_cache

# IDE config
.vscode
