*.py[cod]

# C extensions
*.so

# Build outputs
*.o
*.lo
*.la
.deps
.libs
config.log
config.status
libtool
extern/**/Makefile
extern/built
extern/fftw-3.3.4/api/fftw3.f03
extern/fftw-3.3.4/config.h
extern/fftw-3.3.4/fftw.pc
extern/fftw-3.3.4/fftw3.pc
extern/fftw-3.3.4/libbench2/libbench2.a
extern/fftw-3.3.4/mpi/fftw3-mpi.f03
extern/fftw-3.3.4/mpi/fftw3l-mpi.f03
extern/fftw-3.3.4/stamp-h1
extern/fftw-3.3.4/tests/bench
extern/fftw-3.3.4/tools/fftw-wisdom
extern/fftw-3.3.4/tools/fftw-wisdom-to-conf
extern/fftw-3.3.4/tools/fftw_wisdom.1

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.spyderproject
/.settings
.idea

# Autotools
**/autom4te.cache
**/aclocal.m4

# Python MANIFEST
MANIFEST

# VIM temporary files
*~

# Ipython notebooks
.ipynb_checkpoints
