language: python

python:
  - "2.7"

sudo: false

cache:
  directories:
    - $HOME/xspec

addons:
  apt:
    packages: &default_apt
      - build-essential
      - gfortran
      - flex
      - bison

matrix:
  fast_finish: true
  allow_failures:
    - env: XSPEC="true" FITS="astropy" INSTALL_TYPE=develop TEST=submodule
  include:
    - env: XSPEC="true" FITS="astropy" INSTALL_TYPE=develop TEST=submodule
      python: "2.7"
      sudo: required
      dist: trusty
#      addons:
#        apt:
#          packages:
#            - *default_apt
#            - [libwcs4 wcslib-dev libx11-dev tcl]
    - env: FITS="pyfits" INSTALL_TYPE=develop TEST=submodule
      python: "2.7"
    - env: INSTALL_TYPE=install TEST=package
      python: "2.7"
    - env: INSTALL_TYPE=install TEST=smoke NOSETUPTOOLS="true"
      python: "2.7"

env:
  - FITS="astropy" INSTALL_TYPE=develop TEST=submodule
  - FITS="astropy" INSTALL_TYPE=install TEST=package
  - FITS="astropy" INSTALL_TYPE=install TEST=smoke

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - conda install --yes python=$TRAVIS_PYTHON_VERSION pip numpy=1.9 matplotlib
  - conda config --add channels https://conda.binstar.org/sherpa
  - pip install -r test_requirements.txt
  - if [ ${TEST} == package ];
     then pip install ./sherpa-test-data;
     git submodule deinit -f .;
    fi
  - if [ -n "${XSPEC}" ];
     then sudo apt-get install -qq libwcs4 wcslib-dev libx11-dev libsm-dev libxrender-dev;
     conda install --yes -c https://conda.anaconda.org/cxc/channel/dev xspec-modelsonly;
     export HEADAS=/home/travis/miniconda/Xspec/spectral;
     export LD_LIBRARY_PATH=/home/travis/miniconda/Xspec/x86_64-unknown-linux-gnu-libc2.15-0/lib/;
     sed -i.orig s/#with-xspec=True/with-xspec=True/g setup.cfg;
     sed -i.orig "s|#xspec_lib_dirs = None|xspec_lib_dirs=$LD_LIBRARY_PATH|g" setup.cfg;
    fi
  - if [ ${TEST} == smoke ];
     then git submodule deinit -f .;
    fi
  - if [ -n "${NOSETUPTOOLS}" ]; then conda remove --yes setuptools; fi


install:
  - python setup.py $INSTALL_TYPE

script:
  - if [ -n "${FITS}" ]; then conda install --yes ${FITS} numpy=1.8; fi
  - if [ ${TEST} == submodule ]; then python setup.py test; fi
  - if [ ${TEST} == smoke ];
        then cd /home;
        python -c "import sherpa; sherpa.test()";
    fi
  - if [ ${TEST} == package ];
        then cd $HOME;
        sherpa_test;
    fi

notifications:
  email:
    - olaurino@cfa.harvard.edu

