graft extern

include versioneer.py
include pyproject.toml

include README.md
include COPYRIGHT
include LICENSE
include RELEASE_NOTES
include CITATION
include CONTRIBUTING.md

# Why is this needed but other compiled code is picked up automatically?
include sherpa/astro/xspec/src/_xspec.cc

# This appears to be necessary in some situations (e.g. using tox),
# but was that a temporary issue or is it something expected? For
# whatever reason, let's be explicit.
#
include setup.py

recursive-include helpers *.py

# HTML/notebook representation
recursive-include sherpa/static *

# Scripts (only .py versions)
recursive-include scripts *.py

# Sphinx documentation
recursive-include docs *

# Quick Start Tutorial
include notebooks/nbmapping.dat
include notebooks/*.ipynb

include sherpa/_version.py

# Tests
include pytest.ini
include tox.ini
include test_requirements.txt
include .coveragerc
