graft extern

include versioneer.py
include pyproject.toml

include README.md
include COPYRIGHT
include LICENSE
include RELEASE_NOTES
include CITATION
include CONTRIBUTING.md

recursive-include helpers *.py

# Header files
recursive-include src/sherpa/include *.hh

# Test files
recursive-include src/sherpa test_*.py
include src/sherpa/tests/*
include src/sherpa/astro/datastack/tests/*
include src/sherpa/astro/datastack/tests/data/*

# XSPEC module sources
include src/sherpa/astro/xspec/src/*.cc

# Region module sources
include src/sherpa/astro/utils/src/_region.cc

# WCS module sources
include src/sherpa/astro/utils/src/_wcs.cc

# Sherpa optmethods test includes
include src/sherpa/optmethods/tests/tstoptfct.hh
include src/sherpa/optmethods/tests/tstopt.hh

# Sherpa configuration files
include src/sherpa/sherpa.rc
include src/sherpa/sherpa-standalone.rc

# Sphinx documentation
recursive-include docs *

# Quick Start Tutorial
include notebooks/SherpaQuickStart.ipynb

include src/sherpa/_version.py

# Tests
include pytest.ini
include test_requirements.txt
include .coveragerc
