# SHERPA_VERSION 4.14.2
[options]
# Plotting backends (space separated list)
# will be tried in order, the first one that imports is set as default
# plotting backend. If no listed backend can be imported, Sherpa sets
# a dummy backend as default.
# The backend can be changed in a running sherpa session.
# The following line would try all available backends:
# plot_pkg   : pylab dummy
plot_pkg   : pylab

# IO packages (space separated list) in the order they will be tried
# The first backend that imports successfully is set as default I/O backend.
# If no listed backend can be imported, Sherpa sets
# a dummy backend as default.
# The backend can be changed in a running sherpa session.
# The following line would try all available backends:
# io_pkg   : crates pyfits dummy
io_pkg     : crates

[statistics]
# If true, use truncation value in Cash, C-stat
truncate   : True

# Truncation value for Cash, C-stat (ignored if
# truncate option is False)
trunc_value: 1.0e-25

[ogip]
# The value used to replace energy bin edges (the ENERG_LO column) in
# ARF and RMF files which are set to 0? The field can either be "None" -
# in which case no replacement is made but an error is raised - or replaced
# by this value, which must be a float greater than 0 (and is in keV).
minimum_energy: 1.0e-10

[verbosity]
# Sherpa Chatter level
# a non-zero value will
# display full error traceback
# This option is only used by Sherpa up to version 4.10.1
level      : 0
# NumPy arrays have a threshold size print option, such that when an
# array greater than that size is converted to a string, for printing,
# only the first few and last few elements are shown.  If the array is
# smaller than the threshold size, all the elements are printed out.
# (This setting makes no change to the actual array, but merely
# governs how the array is represented when a copy of the array is
# converted to a string.)
#
# The default threshold size is 1000.  Here, the threshold size is
# changed to a much larger value as Sherpa often deals with large
# arrays.
arraylength: 1000000

[parallel]
# Integral number of cores to use for all parallel operations
# 'None' indicates that all available cores will be used.
# Fewer than 2 will turn off parallel processing.
numcores : None

[multiprocessing]
# Define the method by which the multiprocessing package starts
# parallel processes. Sherpa requires the "fork" method in order to
# utilize multiprocessing to improve performance and pass all tests.
# However, on MacOSX there are known issues with using "fork" that
# prompted a change in the multiprocessing default to be "spawn" on
# MacOSX. Expert users may consider changing this value to either
# "spawn" or "default", where the latter will use the
# platform-specific start method of the multiprocessing package.
multiprocessing_start_method: fork
